html, body { height: 100%; }


body {
	background: url(../images/bg.jpeg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
}

a {
	color:white;
	text-decoration: none;
}

/* HEADERS */

h1 {
	background-color: black;
	border-top: 3px solid white;
	border-bottom: 1px solid white;
	font-style: Helvetica; /* FIX ME - original is Candara */
	color: white;
	font-size: 28px;
	margin: -28px -16px 28px;
	padding: 0px 15px;
	line-height: 56px;
}

h2, h3, h4, h5, h6 {
	color: red;
	font-style: italic;
	font-weight: bold;
}
h2 { font-size: 26px; }
h3 { font-size: 18px; font-style: normal; }
h4, h5, h6 { font-size: 13px; }

/* STYLES */

.clear{
	clear: both;
}

.fl{
	float: left;
}

.footer {
	font-size: 10px;
	float: right;
	color: white;
}

/*STRUCTURE*/

#wrapper {
	background: url(../images/border.gif);
	width: 800px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

#top {

}

#left {
	float: left;
}

#left img {
	display: block;
}

#right {
	float: right;
}

#right img {
	
}

#component {
	background-color: white;
	text-align: justify;
	padding: 28px 16px;
	border-bottom: 8px solid white;
}

#contact-info {
	text-align: right;
	color: white;
	position: absolute;
	top: 16px;
	right: 16px;
}

#bottom {
	border-top: 12px solid #850001;
}

#footer {

}


