/*STRUCTURE*/

#wrapper {
	background: url(../images/border.gif);
	width: 800px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

#top {

}

#left {
	float: left;
}

#left img {
	display: block;
}

#right {
	float: right;
}

#component {
	background-color: white;
	text-align: justify;
	padding: 14px 16px;
	border-bottom: 8px solid white;
	position: relative;
}

#contact-info {
	text-align: right;
	color: white;
	position: absolute;
	top: 16px;
	right: 13px;
	line-height: 125%;
}

#bottom {

}

#footer {

}


