html, body { height: 100%; }


body {
	background: url(../images/bg.jpeg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

a {
	color:white;
	text-decoration: none;
}

h1 {
	background-color: black;
	font-style: Helvetica; /* fixme */
	color: white;
	font-size: 30px;
	margin: -28px -16px;
	padding: 16px;
}

.clear{
	clear: both;
}

#wrapper {
	background: url(../images/border.gif);
	width: 800px;
	margin: 0  auto;
	padding: 0 10px 10px 10px;
}

#top {
	
}

#left {
	float: left;
}

#left img {
	display: block;
}

#right {
	float: right;
}

#right img {
}

#component {
	background-color: white;
	text-align: justify;
	padding: 28px 16px;
}

#bottom {
	
}

#footer {
	
}
