.moduletable_menu {	
	padding: 32px 18px;
}

.moduletable_menu ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}

.moduletable_menu a {
	color: white;
	text-decoration: none;	
}

.moduletable_menu a:hover {
	color: #8d8d8d;
	text-decoration: underline;
}

.moduletable_menu li {
	background: url(../images/separator.png) 4px center no-repeat ;
	display: inline;
	color: white;
	padding-left: 14px;
}

.moduletable_menu li:first-child { 
	background: none;
	padding-left: 0;
}








