.moduletable_menu {	
	padding: 18px;
}

.moduletable_menu ul {
	list-style-type: disc;
	text-align: center;
	margin: 0;
}

.moduletable_menu a {
	color: white;
	text-decoration: none;
}

.moduletable_menu a:hover {
	color: #8d8d8d;
	text-decoration: underline;
}

.moduletable_menu li {
	float: left;
	list-style: disc inside;
	margin: 0 0 0 10px;
	color: white;
	padding-left: 0;
}
.moduletable_menu li:first-child { 
	padding-left: 0;
}

.moduletable_menu li:first-child > {
	list-style-type: none;
}







